# ===========================
# Python Basics
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Virtual Environments
# ===========================
.venv/
venv/
ENV/
env/
*.env

# ===========================
# PyTest
# ===========================
.pytest_cache/
.cache/

# ===========================
# Test Reports
# ===========================
html-report/
reports/
allure-results/
allure-report/
test-output/

# ===========================
# Logs & Screenshots
# ===========================
logs/
*.log
screenshots/
report-screenshots/

# ===========================
# Selenium Drivers
# ===========================
chromedriver*
geckodriver*
msedgedriver*

# ===========================
# Config / Secrets
# ===========================
config.yaml
*.ini
*.json
.env

# ===========================
# IDE Files
# ===========================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ===========================
# Misc
# ===========================
*.db
*.sqlite3
*.csv
